{% extends "LiveBlogBundle::admin.html.twig" %}

{% block body %}

    <div class="container">
        <h1>Liste des Tags</h1>


    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Activé</th>
                <th>Slug</th>
                <th>Création</th>
                <th>Dernière modification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_tag_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.enabled }}</td>
                <td>{{ entity.slug }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_tag_edit', { 'id': entity.id }) }}">Editer</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('admin_tag_new') }}"><button class="btn btn-large btn-primary" type="button">Ajouter un nouveau tag</button></a>

    </div>
    {% endblock %}
