{% extends "LiveBlogBundle::admin.html.twig" %}

{% block body -%}
<div class="container">
    <h1>Edition d'un article</h1>

<div class="row">
    <div class="span8">
        <form action="{{ path('admin_post_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        <div>
          {{ form_widget(edit_form.title) }}
        </div>
        <div>
          {{ form_widget(edit_form.content) }}
        </div>
    </div>
    <div class="span4">
        {{ form_rest(edit_form) }}
    </div>
</div>
        <p>
            <button type="submit" class="btn btn-large btn-primary">Editer</button>
             <a href="{{ path('admin_post') }}"><button class="btn btn-large" type="button">Retour à la liste des actions</button></a>
        </p>
    </form>

    <form action="{{ path('admin_post_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                {{ form_rest(delete_form) }}
                <button type="submit" class="btn btn-danger">Supprimer (définitivement)</button>
    </form>
</div>
{% endblock %}
