{% extends "LiveBlogBundle::layout.html.twig" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="span8">
      <h2 class="section-title">{% if page == 1 %}Articles Récents{% else %} Articles - Page {{ page }}{% endif %}</h2>

      <div class="posts-container">
       {{ include('LiveBlogBundle:Post:list.html.twig', { 'posts': posts }) }}
      </div>

      {{ include('LiveBlogBundle::pagination.html.twig', { 'page' : page, 'nombrePage' : nombrePage }) }}

    </div>

    <div class="span4">
      <h2 class="section-title">Devenez membre !</h2>
      <p>
         En devenant membre de l'association vous pourrez
      <a href="{{ path('calendar') }}" class="btn-action">réserver le local</a> afin de répéter seul ou en groupe quand vous voulez 7 jours sur 7.
      </p>
      <p>
      C'est également l'occasion pour toi Efreien de valider ta PAVE (obligatoire) simplement en
      <a href="{{ path('fos_user_profile_edit') }}" class="btn-action">donnant des cours</a> à d'autres membres !
      </p>
      <p>
        Tu souhaites progresser dans un instrument en particulier ?
      <a href="{{ path('fos_user_profile_edit') }}" class="btn-action">Demande des cours !</a> <br>
      </p>

      <p>Alors qu'est ce tu attends ? :-)</p>
        <a href="{{ path('fos_user_registration_register') }}" class="btn-action btn-big">Je veux m'inscrire !</a>


      <br>
      <a href="http://efrei.fr"><img src="{{ asset('img/Logo_Efrei.png') }}" alt=""></a>
      <br><br>
      <h2 class="section-title">Mots clés</h2>
      {{ include('LiveBlogBundle:Tag:list.html.twig', { 'tags': tags }) }}
      <br><br>
      <h2 class="section-title">Événements passés</h2>
      <img src="{{ asset('img/events/jam-session-1.jpg') }}" alt="Jam Session #1">
      <br><br>
      <img src="{{ asset('img/events/jam-session-2.png') }}" alt="Jam Session #1">
      <br><br>
      <img src="{{ asset('img/events/jam-session-3.jpg') }}" alt="Jam Session #1">

    </div>
  </div>

</div>
{% endblock %}
