<div class="row">

    <div class="span4">
    <div class="bulle">
    	<h2>Pas encore de compte ? <br> Inscrivez vous vite !</h2>
    </div>
    </div>
    <div class="span4 content-form">
		<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal" novalidate>

			{% if form_errors(form) is not empty %}
				<div class="control-group error">
					<span class="help-inline">{{ form_errors(form) }}</span>
				</div>
			{% endif %}


			<div class="control-group {% if form_errors(form.username) is not empty %}error{% endif %}">
						{{ form_widget(form.username, { 'attr': {'placeholder': 'Choisissez un Pseudo', 'id' : 'username'} }) }}
						<span class="help-inline">{{ form_errors(form.username) }}</span>
			</div>
			<div class="control-group {% if form_errors(form.email) is not empty %}error{% endif %}">
							{{ form_widget(form.email, { 'attr': {'placeholder': 'Entrez votre email'} }) }}
							<span class="help-inline">{{ form_errors(form.email) }}</span>
			</div>
			<div class="control-group {% if form_errors(form.plainPassword.first) is not empty %}error{% endif %}">
							{{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'Choisissez un Mot de Passe'} }) }}
							<span class="help-inline">{{ form_errors(form.plainPassword.first) }}</span>
			</div>
			<div class="control-group {% if form_errors(form.plainPassword.second) is not empty %}error{% endif %}">
							{{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'Répétez le Mot de Passe'} }) }}
							<span class="help-inline">{{ form_errors(form.plainPassword.second) }}</span>
			</div>

			{{ form_rest(form) }}

	    <input class="btn btn-submit" type="submit" id="_submit" value="Créer mon Compte" />
			</form>

		</div>
		<div class="span3">
			<img class="hidden-phone" src="{{ asset('img/bassiste.png') }}" alt="bassiste">
		</div>

</div>
