{% extends "LiveMainBundle::layout.html.twig" %}

{% block body %}

<div class="container">
        <h1>Module Profs / Elèves</h1>
        <div class="row">
            <div class="span6">
                <h3>Propositions de cours :</h3>
                <table class="table">
                    <tbody>
                        {% for entity in entities %}
                        <tr class="success">
                            <td><a href="{{ path('users_view', {'slug' : entity.creator.usernameCanonical }) }}">{{ entity.creator }}</a></td>
                            <td>{{ entity.instrument }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="span6">
                <h3>Demandes de cours :</h3>
                <table class="table">
                    <tbody>
                        {% for entity in asks %}
                        <tr class="info">
                            <td><a href="{{ path('users_view', {'slug' : entity.creator.usernameCanonical }) }}">{{ entity.creator }}</a></td>
                            <td>{{ entity.instrument }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</div>

{% endblock %}
