{% extends "FOSUserBundle::layout.html.twig" %}
              
{% block fos_user_content %}

<h2>Connexion</h2>
{% if error %}
    <div class="control-group error"><span class="help-inline">{{ error|trans({}, 'FOSUserBundle') }}</span></div>
{% endif %}


<form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
<div class="control-group">
    <label class="control-label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
     <div class="controls"><input type="text" id="username" name="_username" value="{{ last_username }}" /></div>
</div>
<div class="control-group">
    <label class="control-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
     <div class="controls"><input type="password" id="password" name="_password" /></div>
</div>
<div class="control-group">
     <div class="controls">
    <label class="checkbox" for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
    	<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    </label>
    <input class="btn" type="submit" id="_submit" name="_submit" value="Connexion" />
    </div>
</div><a href="{{ path('fos_user_registration_register') }}">Pas encore inscrit ?</a>
    
</form>
{% endblock fos_user_content %}
