{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div style="margin-top: 100px"></div>

<div class="row">
    <div class="span4">
        <div class="bulle">
            <h2>Utilisez directement votre compte Facebook pour naviguer sur le site.</h2>
        </div>
        <div class="bulle">
            <h2>Vous avez déjà un compte ? Parfait ! Connectez vous ici.</h2>
        </div>
    </div>
    <div class="span4 content-form">
        {% if error %}
            <div class="control-group error"><span class="help-inline">{{ error|trans({}, 'FOSUserBundle') }} !</span></div>
        {% endif %}
                <a href="#" id="facebook-login" ><img style="width: 296px" src="{{ asset('img/login/facebook.png') }}" alt="" /></a>
                <h3 style="font-size: 20px"> Ou </h3>
        <form class="form-vertical" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Entrez votre pseudo ou email" />
            <input type="password" id="password" name="_password" placeholder="Mot de Passe" />
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"  checked style="display:none;"/>
            <input class="btn btn-submit" type="submit" id="_submit" name="_submit" value="Se connecter" />
        </form>
        <a href="{{ path("fos_user_resetting_request") }}">Mot de passe oublié ?</a>
    </div>
    <div class="span3"><img src="{{ asset('img/logo/live_efrei.logo.icon.png') }}" alt=""></div>
</div>

<div style="padding-bottom: 100px"></div>

{% include 'FOSUserBundle:Registration:register_content.html.twig' with  {'form' : registration } %}

<div style="padding-bottom: 100px"></div>

{% endblock fos_user_content %}
