{% extends "LiveMainBundle::layout.html.twig" %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('bundles/livemain/js/custom.jquery.jOrgChart.js') }}"></script>
  <script>$("#org").jOrgChart({chartElement : '#chart'});</script>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/livemain/css/jquery.jOrgChart.css') }}"/>
{% endblock %}

{% block body %}
<div class="container">
  <h2 class="section-title">Notre Equipe</h2>

  <ul id="org" style="display:none">
    <li>
      <strong>Bureau</strong> <img src="{{ asset('img/logo/live_efrei.logo.typo.150.png') }}" alt=""><br> 2013 - 2014
      <ul>
        <li><strong>Maxime Fabre</strong> <img class="img-team" src="{{ asset('img/team/maxime.jpg') }}" alt=""><br> Trésorier
          <ul>
            <li><strong>Sinan Esen</strong> <br> <img class="img-team" src="{{ asset('img/team/sinan.jpg') }}" alt=""><br> Responsable Evenements</li>
            <li>- <br><img src="{{ asset('img/noavatar.png') }}" alt=""><br> Responsable Partenariats</li>
          </ul>
        </li>
        <li><strong>Aurélien David</strong> <img class="img-team" src="{{ asset('img/team/aurelien.jpg') }}" alt=""><br> Président
          <ul>
            <li><strong>Adrien Ramos</strong> <img class="img-team" src="{{ asset('img/team/adrien.jpg') }}" alt=""><br> Responsable <br> local & matériel</li>
            <li><strong>- </strong> <br><img src="{{ asset('img/noavatar.png') }}" alt=""><br> Responsable <br> membres</li>
          </ul>
        </li>
        <li><strong>Anthony Manieca</strong> <img class="img-team" src="{{ asset('img/team/anthony.jpg') }}" alt=""><br> Secrétaire
            <ul>
              <li><strong>Victor Haffreingue</strong><br><img class="img-team" src="{{ asset('img/team/victor.jpg') }}" alt=""><br>Responsable communication</li>
              <li><strong>Rémi Jarasson</strong> <img class="img-team" src="{{ asset('img/team/remi.jpg') }}" alt=""><br> Responsable <br> interne</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <div id="chart"></div>

  <br><br>

  <h2 class="section-title">Mandats Précédents</h2>

  <h3>2012-2013</h3>
  <ul class="ul-live">
    <li>Président: Kévin Morgan</li>
    <li>Trésorier: Sinan Esen</li>
    <li>Secrétaire: Rémi Jarasson</li>
    <li>Responsable Communication: Maximilien Marguerit</li>
    <li>Responsable Matériel: Adrien Ramos</li>
    <li>Responsable Membres: Aurélien David, Victor Haffreingue</li>
    <li>Responsable Partenariats: Rémy Chrétien</li>
  </ul>


  <h3>2011-2012</h3>
  <ul class="ul-live">
    <li>Président: Rémi Jarasson</li>
    <li>Trésorier: Kévin Morgan</li>
    <li>Secrétaire: Aurélien David</li>
    <li>Responsable Membres: Maxime Robert</li>
  </ul>


  <h3>2010-2011</h3>
  <ul class="ul-live">
    <li>Président: Jérémy Guillemot</li>
    <li>Vice-Président:  Rémi Jarasson</li>
    <li>Trésorier: Arthur</li>
  </ul>

  <h3>2009-2010</h3>
  <ul class="ul-live">
    <li>Président: Frédéric Leblanche</li>
    <li>Trésorier: Yannick Carlier</li>
    <li>Secrétaire: Jérémy Guillemot</li>
  </ul>

</div>

{% endblock %}
